<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="false"
        android:icon="@drawable/ic_ludoproof"
        android:label="LudoProof"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@drawable/ic_ludoproof"
        android:supportsRtl="true"
        android:theme="@android:style/Theme.Material.Light.NoActionBar"
        android:usesCleartextTraffic="false">
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".OfflineGameActivity"
            android:exported="false" />
        <activity
            android:name=".feature.profile.presentation.ProfileActivity"
            android:exported="false" />
        <activity
            android:name=".feature.store.presentation.StoreActivity"
            android:exported="false" />
        <activity
            android:name=".HomeActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
